@import "../../variables.scss";

.logo {
  min-width: 112px;
  margin-bottom: 0;

  @media (max-width: 418px) {
    margin-bottom: 25px;
  }
}

.header {
  min-width: 100%;
  padding: 30px 144px;
  z-index: 2;

  @media (max-width: 1200px) {
    padding: 30px;
  }
}

.header__list {
  list-style-type: none;
  font-size: 12px;
}

.item {
  padding-left: 40px;
  color: $white;
  text-decoration: none;

  @media (max-width: 418px) {
    padding-left: 0;
    padding-right: 40px;
  }
}
