//

.our-best__card {
  padding: 22px;
  width: 220px;
  height: 240px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.65);
  font-size: 14px;
  white-space: nowrap;
}

.small {
  font-weight: 700;
  font-size: 14px;
}
